body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:768px) {
    .navbar-fixed-top .navbar-brand {
		font-size: 2em;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
	}

	.navbar-fixed-top.navbar-shrink{
		background-color: rgba(44,62,80,1);
		padding: 10px 0;
	}

	.navbar-fixed-top.navbar-shrink .navbar-brand{
		font-size: 1.5em;
	
	}


    
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        font-weight: 700;
        text-transform: uppercase;
	    font-family: Montserrat, "Helvetica Neue", Helvetica,Arial,sans-serif;
    }
    .top-nav-collapse {
        padding: 0;
    }

    
    .navbar-inverse {
	    border: 0;
    }

    .navbar .navbar-nav {
	    letter-spacing: 1px;
    }

    
    .about-section {
        height: 100%;
        padding-top: 150px;
        font-size: 20px;
        background: #fff;
    }
}

a,
a:hover,
a:focus,
a:active,
a.active {
	outline: 0 !important;
	color: #FF1919;
}

.intro-brand{
    font-weight: 700;
}

header .btn{
	background: transparent;
	color: #F2F2F2;
	/* CSS Transition */
    font-size: 50px;
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}

header {
    height: 100%;
	text-align: center;
	color: #fff;
	background-attachment: scroll;
    background-image: url("../img/head.jpg");
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .container {
		padding-top: 100px;
		padding-bottom: 100px;
        background-color: rgba(0, 0, 0, 0);
}

.intro-section {
    padding-top: 50px;
    text-align: center;
	color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

header .intro-section .name {
	display: block;
	text-transform: uppercase;
	font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 150px;
	font-weight: 700;
}

header .intro-section .description{
    height: 100%;
	font-size: 2.25em;
	font-weight: 500;
}

.about-section .container {
	color: #000;
    background-color: #fff;
    text-align: left;
}

.socialmedia-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    min-height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.p {
    font-size: x-large;
}

.application-modal .modal-content {
	padding: 15px 0;
	min-height: 100%;
	border: 0;
	border-radius: 0;
	text-align: center;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.application-modal .container .modal-body {
    align-content: center;
}

.application-modal .modal-content h2 {
	margin: 0;
	font-size: 3em;
}

.application-modal .modal-content .item-details {
	margin: 30px 0;
}

.application-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor: pointer;
}

.application-modal .close-modal:hover{
	opacity: .3;
}

.application-modal .close-modal .lr {
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	background-color: #6598CB;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.application-modal .modal-backdrop {
	display: none;
	opacity: 0;
}


@media(min-width: 768px) {
	#application .application-item {
		margin: 0 0 30px;
	}


    #application .application-item {
	right: 0;
	margin: 0 0  15px;
    }

    #application .application-item .application-link{
	    display: block;
	    position: relative;
	    margin: 0 auto;
	    max-width: 400px;
    }

    #application .application-item .application-link .caption {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    opacity: 0;
	    -webkit-transition: all ease .5s;
	    -moz-transition: all ease .5s;
	    transition: all ease .5s;
    }

    #application .application-item .application-link .caption .caption-content {
	    position: absolute;
	    top: 50%;
	    width: 100%;
	    height: 20px;
	    margin-top: -12px;
	    text-align: center;
	    font-size: 20px;
	    color: #fff;
    }

    #application .application-item .application-link .caption .caption-content i {
	    margin-top: -12px;
    }

    #application .application-item .application-link .caption .caption-content h3,
    #application .application-item .application-link .caption .caption-content h4{
	    margin: 0;
    }

    #application * {
	    z-index: 2;
    }
    .application-modal .modal-content img {
	    margin-bottom: 30px;
        width: 278px;
    }

}

.hr .android-primary {
    color: black;
} 

@media(max-width: 767px){
    header .application-section {
        min-height: 100%;
        ;
    }
    header .container {
        width: auto;
    }
    header .intro-section .name {
        font-size: 50px;
    }

    header .intro-section .description {
        font-size: 20px;
    }

    header .intro-section .btn-default {
        font-size: 30px;
    }

    header .about-section {
        min-height: 100%;

        font-size: 20px;
        background: #fff;
    }

    .about-section .container {
	color: #000;
    background-color: #fff;
    text-align: left;
    padding-bottom: 200px;
    }

    .application-modal .modal-content img {
	    margin-bottom: 30px;
        width: 175px;
    }

}

.footer-above { 
    background-color: #222222;
    color: #cecece;
}
.footer-below {
    color: #cecece;
    background-color: #222222;
}

.btn:active,
.btn.active {
    outline: 0;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 100%;
    text-align:center;
    font-size: 20px;
    line-height:45px;
}
.socialbuttons {
    color: white;
}

#social:hover {
    -webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1); 
}
#social {
	-webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8); 
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}           

.social-fb:hover {
	color: #3B5998;
}
.social-tw:hover {
	color: #4099FF;
}
.social-gp:hover {
	color: #d34836;
}
.social-em:hover {
	color: #f39c12;
}